<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET uygulamanızı nasıl yapılandıracağınız hakkında daha fazla bilgi için lütfen şu adresi ziyaret edin:
   https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <connectionStrings>
    <clear />
    <add name="Ders" connectionString="Data Source=forumonline.mssql.somee.com;Initial Catalog=forumonline;User ID=forum_SQLLogin_1;Password=44gdj3gxce" />
    <add name="forumonlineConnectionString" connectionString="Data Source=forumonline.mssql.somee.com;Initial Catalog=forumonline;User ID=forum_SQLLogin_1;Password=44gdj3gxce"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

    <system.web>
    
    <compilation debug="true" targetFramework="4.7.2"/>

    <customErrors mode="Off"></customErrors>
    
  </system.web>
  
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Forumlar.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  

</configuration>
